{% extends "base.html" %}

{% block content %}
<p>СОВИЗМ - Современные измерения.</p>
<p>🦉Мы предоставляем услуги по аттестации оборудования в соответствии в ГОСТ Р 8.568 - 2017 уже более трерх лет.
Наши сотрудники имеют обширный опыт аттестации оборудования, в том числе: климатические камеры и сушильные шкафы разной сложности,
камеры пыли, различные установки, создающие разрушающее воздействие. </p>
<p>🦉Широкий опыт нашего персонала позволит разработать или адаптировать вашу документацию в соответствии с различными требованиями,
   также мы можем помочь с своевременной поверкой вашего парка оборудования - просто пришлите нам запрос или перечень оборудования,
наши сотрудники подберут для вас лучшие условия.</p>
<p>🦉Наша организация может помочь вам с разработкой системы менеджмента качества (СМК) в соответствии с ISO 9001/ISO 17025:
руководство по качеству, процедуры по управлению персоналом и оборудованием, журналы, графики, заключения, адаптированные под
Вашу организацию. Также возможно проведение консультаций по Вашим документам нашими опытными сотрудниками. </p>
<p>🦉Если вы столкнулись со сложностями при поставке или подборе оборудования наши опытные специалисты помогут вам.
    Направьте техническое задание или другую информацию любым удобным способом - теперь это НАША задача </p>
<p> Контакты </p>
{% endblock %} 