
{% extends "base.html" %}

{% block content %}
{% load static %}
<h2>{{ item.title }}</h2>
<p>Новость относится к категории
{% for tag in item.tags.all %}
    <b><a href="{% url 'news:news_tag_details' tag.slug %}">{{ tag }}</a></b>
    {% if not forloop.last %},{% endif %}
{% endfor %}
</p>
{% if item.image %}
    <p><span class="image left"><img src="{{ item.image.url }}" alt="" style="width: 250px; height: 250px;"/>
{% else %}
    <p><span class="image left"><img src="{% static "images/pic14.jpg" %}" alt="" style="width: 250px; height: 250px;"/>
{% endif %}
    </span></p>
    {{ item.description }}
<hr>
    </span>
{% endblock %}