{% extends "base.html" %}

{% block content %}
{% load static %}
<h2>Список всех категорий новостей</h2>
<hr>
{% for tag in page_obj %}
    <div style="display:flex; flex-direction: row; justify-content: space-between">
<div>
    <p>
<a href="{% url 'news:news_tag_details' tag.slug %}"><b>{{ tag.name }}</b></a>
</p>
<p>
<span>{{tag.description|truncatechars:300}}</span><span></span>
</p>
</div>


{% if tag.image %}
<img class="image right" src="{{ tag.image.url }}" alt="" style="object-fit: cover; width:350px; heigth:350px" />
{% else %}
<img src="{% static "images/pic14.jpg" %}" alt="" style="object-fit: cover;  width:450px; heigth:450px" />
{% endif %}
{% if not forloop.last %}<hr>{% endif %}
</div>

{% endfor %}
{% endblock %}