{% extends "base.html" %}

{% block content %}
{% load static %}
    <h2>{{ tag.name }}</h2>
    Количество новостей:&ensp;{{ tag.items.count }}
    <p><a href="{% url 'news:news_tag_list'%}"><b>Все категории</b></a></p>
    <hr>

{% for item in page_obj %}

    <div style="display:flex; flex-direction: row; justify-content: space-between">
<div>
    <p>
    <a href="{% url 'news:news_item_details' item.slug %}"><b>{{item.title}}</b></a>
</p>
<p>
    <span>{{ item.description|truncatechars:300 }}</span>
</p>
</div>


{% if tag.image %}
    <img class="image right" src="{{ tag.image.url }}" alt="" style="object-fit: cover; width:350px; heigth:350px" />
{% else %}
    <img src="{% static "images/pic14.jpg" %}" alt="" style="object-fit: cover;width:350px; heigth:350px" />
{% endif %}
</div>
{% if not forloop.last %}<hr>{% endif %}

{% endfor %}
{% endblock %}