{% extends "base.html" %}

{% block content %}
{% load static %}
<h2>Список всех категорий новостей</h2>
<hr>
{% for tag in page_obj %}
    <div style="display:flex; flex-direction: row; justify-content: space-between">
<div>
    <p>
<a href="{% url 'news:news_tag_details' tag.slug %}"><b>{{ tag.name }}</b></a>
</p>
<p>
<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur cumque facilis inventore, nesciunt omnis repellat totam. Aspernatur cumque dolorum, eos esse laudantium molestias mollitia natus, nihil provident, totam voluptas!</span><span>Adipisci alias, consequatur cum dolorum esse illo in quas voluptatem? Aliquam aperiam autem consequatur consequuntur cum, dolorem, ea earum exercitationem non ratione rem repellat sit vitae voluptatem, voluptatum. Modi, praesentium?</span>
</p>
</div>


{% if tag.image %}
<img class="image right" src="{{ tag.image.url }}" alt="" style="object-fit: cover; width:100%; heigth:250px" />
{% else %}
<img src="{% static "images/pic14.jpg" %}" alt="" style="object-fit: cover; width:100%; heigth:250px" />
{% endif %}
{{tag.description}}{{tag.description}}
{% if not forloop.last %}<hr>{% endif %}
</div>

{% endfor %}
{% endblock %} .