{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>СОВИЗМ - современные измерения и не только! <br /></h1>
<p>Добро пожаловать, уважаемые коллеги!  </p>
<p>Наша организация на рынке более 3-х лет и мы хотели бы помочь Вашему бизнесу с оборудованием, метрологией, системами менеджмента качества и не только. </p>
<p>Вы можете ознакомиться с каталогом оборудования, которое мы можем Вам поставить в кратчайшие сроки и по приятной цене, а также услугами, оказываемыми нашими специалистами
    или просто оставьте заявку любым удобным способом. Наши сотрудники Вас проконсультируют в ближайшее время! </p>

    <h2>Мы можем предложить</h2>
    <hr>
{% for tag in page_obj %}
    <a href="{% url 'store:tag_details' tag.slug %}"><b>{{ tag.name }}</b></a>
    <p><span class="image right">
        {% if tag.image %}
            <img src="{{ tag.image.url }}" alt="" style="width: 200px; height: 200px;"/>
        {% else %}
            <img src="{% static "images/pic14.jpg" %}" alt="" />
        {% endif %}
    </span>{{tag.description}}{{tag.description}}</p>
    {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %} 